<nz-select [(ngModel)]="model">
    <nz-option nzLabel="SQLHaters" nzValue="sqlhaters"></nz-option>
    <nz-option nzLabel="ChatGPT" nzValue="openai"></nz-option>
    <nz-option nzLabel="LLaMA" nzValue="llama"></nz-option>
</nz-select>

<nz-divider></nz-divider>

<nz-input-group nzSearch [nzAddOnAfter]="searchSuffixIconButton">
    <ng-template #searchSuffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="sendQuery()">
            <span nz-icon nzType="search"></span>
        </button>
    </ng-template>
    <input type="text" nz-input placeholder="Input query here" [(ngModel)]="queryText"/>
</nz-input-group>

<nz-divider></nz-divider>

@if(querying)
{
    <nz-spin></nz-spin>
}
@else if(result)
{
    @if(!result.sql_context)
    {
        <div
            class="wrapper"
            nz-flex
            nzJustify="center"
            nzAlign="center"
        >
            <h1 class="highlight" nz-popover nzPopoverTitle="Action" nzPopoverContent="Run SQL query" nzPopoverPlacement="bottom" (click)="runQuery(result.sql_query)">
                {{result.sql_query}}
            </h1>

        </div>
    }
    @else
    {
        <div
            class="wrapper"
            nz-flex
            nzJustify="space-evenly"
            nzAlign="center"
        >
            <div class="highlight">
                <p>Direct Model:</p>
                <h1 nz-popover nzPopoverTitle="Action" nzPopoverContent="Run SQL query" nzPopoverPlacement="bottom" (click)="runQuery(result.sql_query)">
                    {{result.sql_query}}
                </h1>
            </div>
            <div class="highlight">
                <p>Multistep Model:</p>
                <h1 nz-popover nzPopoverTitle="Action" nzPopoverContent="Run SQL query" nzPopoverPlacement="bottom" (click)="runQuery(result.sql_context)">
                    {{result.sql_context}}
                </h1>
            </div>
        </div>
    }

    <nz-divider></nz-divider>

    @if(runningQuery)
    {
        <nz-spin></nz-spin>
    }
    @else
    {
        @if(tableResult && !tableResult.values)
        {
            <div
                class="wrapper"
                nz-flex
                nzJustify="center"
                nzAlign="center"
            >
                <h1>No entries resulted from executing query</h1>
            </div>
        }
        @else
        {
            <table>
                <thead>
                    @for(column of tableResult?.columnNames; track column)
                    {
                        <th>{{column}}</th>
                    }
                </thead>
                <tbody>
                    @for(value of tableResult?.values; track value)
                    {
                        <tr>
                            @for(column of tableResult?.columnNames; track column)
                            {
                                <td>{{value[column]}}</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}
