.wrapper
{
    width: 100%;
}

.highlight:hover
{
    border-radius: 1vh;
    border: 1px solid rgba(255, 236, 110, 0.8);
    cursor: pointer;
}

table
{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th
{
    text-align: center;
    background-color: #40a9ff; //rgba(204, 204, 204, 0.5);
    padding: 1vh 0 1vh 0;
}

td
{
    text-align: center;
    padding: 1vh 0 1vh 0;
}

tr
{
    border-bottom: 0.1vh solid black;
}

tr:hover
{
    background-color: rgba(204, 204, 204, 0.3);
}
