#login
{
    width: 25%;
}

#register
{
    width: 25%;
}

.block-wrapper
{
    block-size: 100%;
}

.form
{
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3vh;
    border-radius: 0.5vh;
}

.form-margin
{
    margin-bottom: 16px;
}

.form-register
{
    float: right;
}

.form-button
{
    width: 100%;
}
